<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-institutional-subscription-heading"
        data-cy="InstitutionalSubscriptionCreateUpdateHeading"
        jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.home.createOrEditLabel"
      >
        Create or edit a Institutional Subscription
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let startDateRef = editForm.get('startDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.startDate"
            >Start Date</label
          >
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (startDateRef.invalid && (startDateRef.dirty || startDateRef.touched)) {
            <div>
              @if (editForm.get('startDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let expiryDateRef = editForm.get('expiryDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_expiryDate" jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.expiryDate"
            >Expiry Date</label
          >
          <div class="input-group">
            <input
              id="field_expiryDate"
              data-cy="expiryDate"
              type="text"
              class="form-control"
              name="expiryDate"
              ngbDatepicker
              #expiryDateDp="ngbDatepicker"
              formControlName="expiryDate"
            />
            <button type="button" class="btn btn-secondary" (click)="expiryDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (expiryDateRef.invalid && (expiryDateRef.dirty || expiryDateRef.touched)) {
            <div>
              @if (editForm.get('expiryDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let memberLimitRef = editForm.get('memberLimit')!;
        <div class="mb-3">
          <label class="form-label" for="field_memberLimit" jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.memberLimit"
            >Member Limit</label
          >
          <input
            type="number"
            class="form-control"
            name="memberLimit"
            id="field_memberLimit"
            data-cy="memberLimit"
            formControlName="memberLimit"
          />
          @if (memberLimitRef.invalid && (memberLimitRef.dirty || memberLimitRef.touched)) {
            <div>
              @if (editForm.get('memberLimit')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('memberLimit')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_institution" jhiTranslate="calvaryApiGatewayApp.institutionalSubscription.institution"
            >Institution</label
          >
          <select
            class="form-control"
            id="field_institution"
            data-cy="institution"
            name="institution"
            formControlName="institution"
            [compareWith]="compareInstitution"
          >
            @if (editForm.get(['institution'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (institutionOption of institutionsSharedCollection; track $index) {
              <option [ngValue]="institutionOption">{{ institutionOption.institutionName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['institution'])!.invalid && (editForm.get(['institution'])!.dirty || editForm.get(['institution'])!.touched)) {
          <div>
            @if (editForm.get(['institution'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
